html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
}

.fullheight {
  height: 100%;
}

.p1 {
  padding: 1rem;
}

.scrollable {
  position: relative;
  overflow-y: scroll;
}

.sidebar {
  width: 360px;
  background-color: #efefef;
}

.content {
  width: 100%;
  background-color: #333;
}

.toc__list,
.groups__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.groups__list-item {
  margin: 0;
  padding: 1rem;
}

.toc__list-item {
  margin: 0;
  padding: 0.5rem;
}

.toc__list-item--active {
  color: blue;
}

.groups__list-item {
  height: 500px;
}
